<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85bdee">  <td>21/01/22 09:26:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_RequestSharing.TC_CreateRequestSharing()[pri:0, instance:com.mis.login.TC_RequestSharing@25af5db5]">TC_CreateRequestSharing</td> 
  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/22 09:26:16</td>   <td>12857</td> <td>&nbsp;</td><td title="&lt;&lt;TC_RequestSharing.afterTest()[pri:0, instance:com.mis.login.TC_RequestSharing@25af5db5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@770189387</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/22 09:25:47</td>   <td>-16106</td> <td>&nbsp;</td><td title="&gt;&gt;TC_RequestSharing.beforeTest()[pri:0, instance:com.mis.login.TC_RequestSharing@25af5db5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@770189387</td>   <td></td> </tr>
</table>
