<h2>Reporter output</h2><table><tr><td>2021-01-22 09:25:55,219 INFO  com.mis.login.TC_RequestSharing - [INFO] Open Google Chrome browser successful
</td></tr>
<tr><td>2021-01-22 09:26:00,724 INFO  com.mis.login.TC_RequestSharing - [INFO] Login to MIS Page
</td></tr>
<tr><td>2021-01-22 09:26:03,518 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 1 - Mở trang tạo yêu cầu chia sẻ
</td></tr>
<tr><td>2021-01-22 09:26:05,808 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 2 - Tìm kiếm bệnh nhân muốn chia sẻ hình ảnh
</td></tr>
<tr><td>2021-01-22 09:26:08,542 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 3 - Chọn bệnh nhân cần chia sẻ hình ảnh
</td></tr>
<tr><td>2021-01-22 09:26:10,664 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 4 - Click nút Gửi yêu cầu chia sẻ
</td></tr>
<tr><td>2021-01-22 09:26:11,068 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 5 - Chọn thời gian truy xuất dữ liệu 
</td></tr>
<tr><td>2021-01-22 09:26:11,744 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 6 - Chọn độ ưu tiên
</td></tr>
<tr><td>2021-01-22 09:26:11,895 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 7 - Chọn thời gian hết hạn
</td></tr>
<tr><td>2021-01-22 09:26:12,343 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 8 - Chọn loại thiết bị
</td></tr>
<tr><td>2021-01-22 09:26:12,753 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 9 - Chọn nơi nhận yêu cầu
</td></tr>
<tr><td>2021-01-22 09:26:13,072 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 10 - Nhập lý do yêu cầu chia sẻ
</td></tr>
<tr><td>2021-01-22 09:26:15,544 INFO  com.mis.login.TC_RequestSharing - [INFO] Step 11 - Click nút Gửi yêu cầu
</td></tr>
<tr><td>2021-01-22 09:26:16,288 INFO  com.mis.login.TC_RequestSharing - [INFO] VP - Kiem tra them moi chia se hinh anh thanh cong
</td></tr>
<tr><td>2021-01-22 09:26:16,352 INFO  com.mis.login.TC_RequestSharing - [FAILED] Thông báo Thêm mới yêu cầu chia sẻ thành công được hiển thị
</td></tr>
<tr><td>2021-01-22 09:26:16,354 ERROR com.mis.login.TC_RequestSharing - [ERROR] expected [Thêm mới yêu cầu chia sẻ thành công] but found []
</td></tr>
</table>