<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:51:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToPersonal.TC01_SearchImagePersonal()[pri:0, instance:com.mis.login.TC_ShareToPersonal@5f3a4b84]">TC01_SearchImagePersonal</td> 
  <td>TestNG-test=Run on Chrome-1@1688190187</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:53:06</td>   <td>91249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToPersonal.TC01_SearchImagePersonal()[pri:0, instance:com.mis.login.TC_ShareToPersonal@6950e31]">TC01_SearchImagePersonal</td> 
  <td>TestNG-test=Run on Chrome 2-1@1234710263</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:51:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToCenter.TC01_searchImagePatient()[pri:0, instance:com.mis.login.TC_ShareToCenter@27f723]">TC01_searchImagePatient</td> 
  <td>TestNG-test=Run on Chrome-2@760333660</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:53:06</td>   <td>91250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToCenter.TC01_searchImagePatient()[pri:0, instance:com.mis.login.TC_ShareToCenter@b7dd107]">TC01_searchImagePatient</td> 
  <td>TestNG-test=Run on Chrome 2-2@1664509289</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:51:43</td>   <td>7737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToPersonal.TC02_ShareImagesToPersonal()[pri:0, instance:com.mis.login.TC_ShareToPersonal@5f3a4b84]">TC02_ShareImagesToPersonal</td> 
  <td>TestNG-test=Run on Chrome-1@1688190187</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:53:14</td>   <td>99138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToPersonal.TC02_ShareImagesToPersonal()[pri:0, instance:com.mis.login.TC_ShareToPersonal@6950e31]">TC02_ShareImagesToPersonal</td> 
  <td>TestNG-test=Run on Chrome 2-1@1234710263</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:51:47</td>   <td>12263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToCenter.TC02_shareImageToCenter()[pri:0, instance:com.mis.login.TC_ShareToCenter@27f723]">TC02_shareImageToCenter</td> 
  <td>TestNG-test=Run on Chrome-2@760333660</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:53:19</td>   <td>103867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_ShareToCenter.TC02_shareImageToCenter()[pri:0, instance:com.mis.login.TC_ShareToCenter@b7dd107]">TC02_shareImageToCenter</td> 
  <td>TestNG-test=Run on Chrome 2-2@1664509289</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:52:25</td>   <td>49584</td> <td>&nbsp;</td><td title="&lt;&lt;TC_ShareToCenter.afterTest()[pri:0, instance:com.mis.login.TC_ShareToCenter@27f723]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:52:26</td>   <td>50426</td> <td>&nbsp;</td><td title="&lt;&lt;TC_ShareToPersonal.afterTest()[pri:0, instance:com.mis.login.TC_ShareToPersonal@5f3a4b84]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:53:49</td>   <td>133955</td> <td>&nbsp;</td><td title="&lt;&lt;TC_ShareToCenter.afterTest()[pri:0, instance:com.mis.login.TC_ShareToCenter@b7dd107]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:53:50</td>   <td>134773</td> <td>&nbsp;</td><td title="&lt;&lt;TC_ShareToPersonal.afterTest()[pri:0, instance:com.mis.login.TC_ShareToPersonal@6950e31]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:51:04</td>   <td>-31170</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ShareToCenter.beforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mis.login.TC_ShareToCenter@27f723]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:51:21</td>   <td>-14557</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ShareToPersonal.beforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mis.login.TC_ShareToPersonal@5f3a4b84]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>21/01/20 09:52:31</td>   <td>55446</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ShareToCenter.beforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mis.login.TC_ShareToCenter@b7dd107]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>21/01/20 09:52:50</td>   <td>75234</td> <td>&nbsp;</td><td title="&gt;&gt;TC_ShareToPersonal.beforeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mis.login.TC_ShareToPersonal@6950e31]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1858609436</td>   <td></td> </tr>
</table>
