<h2>Reporter output</h2><table><tr><td>2021-01-20 09:51:12,608 INFO  com.mis.login.TC_ShareToCenter - [INFO] Open Google Chrome browser successful
</td></tr>
<tr><td>2021-01-20 09:51:18,401 INFO  com.mis.login.TC_ShareToCenter - [INFO] Login to MIS Page
</td></tr>
<tr><td>2021-01-20 09:51:27,377 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Open Google Chrome browser successful
</td></tr>
<tr><td>2021-01-20 09:51:32,801 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Login to MIS Page
</td></tr>
<tr><td>2021-01-20 09:51:35,683 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 1 - Mo trang chia se den ca nhan
</td></tr>
<tr><td>2021-01-20 09:51:35,692 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 1 - Mo trang chia se den to chuc
</td></tr>
<tr><td>2021-01-20 09:51:37,959 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 2 - Chon ngay tai datepicker Ngay thuc hien(tu ngay)
</td></tr>
<tr><td>2021-01-20 09:51:38,398 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 2 - Chon ngay tai datepicker Ngay thuc hien(tu ngay)
</td></tr>
<tr><td>2021-01-20 09:51:40,400 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 3 - Click nut tim kiem
</td></tr>
<tr><td>2021-01-20 09:51:41,070 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 3 - Click nut Tim kiem
</td></tr>
<tr><td>2021-01-20 09:51:43,415 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 1 - Click vao checkbox MA CA
</td></tr>
<tr><td>2021-01-20 09:51:43,608 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 2 - Tick vao checkbox [Benh nhan dong y] va [toi da doc và dong y]
</td></tr>
<tr><td>2021-01-20 09:51:47,831 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 3 - Click nut Chia se
</td></tr>
<tr><td>2021-01-20 09:51:47,939 ERROR com.mis.login.TC_ShareToCenter - [ERROR] Step 1 - Chon hinh anh ca benh cua benh nhan bat ky
</td></tr>
<tr><td>2021-01-20 09:51:50,180 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 4 - Chon so ngay chia se
</td></tr>
<tr><td>2021-01-20 09:51:52,513 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 5 - Click nut yeu cau xac thuc va nut cho phep dowload
</td></tr>
<tr><td>2021-01-20 09:51:54,979 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 6 - Them dia chi email tai textbox Dia chi email
</td></tr>
<tr><td>2021-01-20 09:51:55,586 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 2 - Chon trung tam y te nhan chia se
</td></tr>
<tr><td>2021-01-20 09:51:57,597 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 7 - Click nut Chia se
</td></tr>
<tr><td>2021-01-20 09:52:02,922 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 3 - Nhap noi dung chia se
</td></tr>
<tr><td>2021-01-20 09:52:05,658 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 4 - Tick vao checkbox [Benh nhan dong y] va [toi da doc và dong y]
</td></tr>
<tr><td>2021-01-20 09:52:10,137 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 5 - Click nut chia se
</td></tr>
<tr><td>2021-01-20 09:52:17,660 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 6 - Click nut chia se tren popup
</td></tr>
<tr><td>2021-01-20 09:52:25,133 INFO  com.mis.login.TC_ShareToCenter - [INFO] VP - Kiem tra them moi chia se hinh anh thanh cong
</td></tr>
<tr><td>2021-01-20 09:52:25,250 INFO  com.mis.login.TC_ShareToCenter - [PASSED] Thêm mới chia sẻ hình ảnh thành công
</td></tr>
<tr><td>2021-01-20 09:52:30,767 WARN  com.mis.login.TC_ShareToPersonal - [WARNING] java.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:6725
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
System info: host: 'DESKTOP-NOR3FPC', ip: '10.59.90.106', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_251'
Driver info: driver.version: RemoteWebDriver
</td></tr>
<tr><td>2021-01-20 09:52:37,652 INFO  com.mis.login.TC_ShareToCenter - [INFO] Open Google Chrome browser successful
</td></tr>
<tr><td>2021-01-20 09:52:43,208 INFO  com.mis.login.TC_ShareToCenter - [INFO] Login to MIS Page
</td></tr>
<tr><td>2021-01-20 09:52:58,659 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Open Google Chrome browser successful
</td></tr>
<tr><td>2021-01-20 09:53:04,172 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Login to MIS Page
</td></tr>
<tr><td>2021-01-20 09:53:06,925 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 1 - Mo trang chia se den ca nhan
</td></tr>
<tr><td>2021-01-20 09:53:06,934 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 1 - Mo trang chia se den to chuc
</td></tr>
<tr><td>2021-01-20 09:53:09,298 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 2 - Chon ngay tai datepicker Ngay thuc hien(tu ngay)
</td></tr>
<tr><td>2021-01-20 09:53:09,770 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 2 - Chon ngay tai datepicker Ngay thuc hien(tu ngay)
</td></tr>
<tr><td>2021-01-20 09:53:12,099 INFO  com.mis.login.TC_ShareToCenter - [INFO] Step 3 - Click nut tim kiem
</td></tr>
<tr><td>2021-01-20 09:53:12,471 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 3 - Click nut Tim kiem
</td></tr>
<tr><td>2021-01-20 09:53:14,814 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 1 - Click vao checkbox MA CA
</td></tr>
<tr><td>2021-01-20 09:53:15,011 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 2 - Tick vao checkbox [Benh nhan dong y] va [toi da doc và dong y]
</td></tr>
<tr><td>2021-01-20 09:53:19,332 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 3 - Click nut Chia se
</td></tr>
<tr><td>2021-01-20 09:53:19,544 ERROR com.mis.login.TC_ShareToCenter - [ERROR] Step 1 - Chon hinh anh ca benh cua benh nhan bat ky
</td></tr>
<tr><td>2021-01-20 09:53:21,597 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 4 - Chon so ngay chia se
</td></tr>
<tr><td>2021-01-20 09:53:23,949 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 5 - Click nut yeu cau xac thuc va nut cho phep dowload
</td></tr>
<tr><td>2021-01-20 09:53:26,331 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 6 - Them dia chi email tai textbox Dia chi email
</td></tr>
<tr><td>2021-01-20 09:53:28,926 INFO  com.mis.login.TC_ShareToPersonal - [INFO] Step 7 - Click nut Chia se
</td></tr>
<tr><td>2021-01-20 09:53:55,047 WARN  com.mis.login.TC_ShareToPersonal - [WARNING] java.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:10286
Build info: version: '3.141.59', revision: 'e82be7d358', time: '2018-11-14T08:25:53'
System info: host: 'DESKTOP-NOR3FPC', ip: '10.59.90.106', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_251'
Driver info: driver.version: RemoteWebDriver
</td></tr>
</table>